:root {
  --disc-height: 10px;
  --tower-base-width: 80px;
  --tower-base-height: 10px;
  --tower-rod-height: 100px;
  --tower-rod-width: 10px;
  --header-font-size: 32px;
  --font-size: 12px
}

@media (min-width: 375px) {
    :root {
      --tower-base-width: 100px;
    }
}

@media (min-width: 768px) {
    :root {
        --disc-height: 20px;
        --tower-base-width: 200px;
        --tower-base-height: 20px;
        --tower-rod-height: 200px;
        --tower-rod-width: 20px;
        --font-size: 16px;
        --header-font-size: 48px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px;
}

h1 {
    text-align: center;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    font-size: var(--header-font-size);
    @media (min-width: 768px) {
        font-size: var(--header-font-size);
    }
}

.container {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    @media (min-width: 768px) {
        gap: 100px;
    }
}

.towers-group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.tower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tower .base {
    width: var(--tower-base-width);
    height: var(--tower-base-height);
    background-color: #000;
    border: solid 1px #fff;
}

.tower .rod {
    height: var(--tower-rod-height);
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.rod::before {
    position: absolute;
    content: '';
    top: 0px;
    width: var(--tower-rod-width);
    height: 100%;
    border: solid 1px #fff;
    border-bottom: none;
}

.disc {
    background-color: #000;
    border: solid 1px #fff;
    display: block;
    height: var(--disc-height);
    min-width: 30px;
    transition: transform;
    z-index: 1;
    flex-shrink: 0;
}


.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 16px;
    max-width: 400px;
    flex-wrap: wrap;
}

button {
    border: solid 1px #fff;
    background: transparent;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    font-size: var(--font-size);
}

.button-padding {
    padding: 8px;
    display: block;
}

button:active {
    transform: translateY(1px);
}


.slider {
  -webkit-appearance: none;
  flex: 1;
  height: 10px;
  border-radius: 5px;  
  background: #000;
border: solid 1px #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  border: solid 1px #fff;
  background: #000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  border: solid 1px #fff;
  cursor: pointer;
}

label {
    font-size: var(--font-size);
    color: #fff;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.transition-controls{
}

.transition-controls label:nth-child(1) {
    margin-right: 12px;
}

footer {
    color: #fff;
}

a {
    color: #fff;
    font-size: var(--font-size)
}